.input-error { box-shadow: 0 0 10px rgb(0, 70, 100); }
.input-error-msg-show { color: rgba(255,0,0,.6); font-size: .7rem; transition-timing-function: linear; }
.input-error-msg-hide { display: none; }